
/KiCad/solderless_breadboard_psu-backups
KiCad/psu.bak
/KiCad/production/backups
/KiCad/v1/solderless_breadboard_psu-backups
/KiCad/v2/solderless_breadboard_psu-backups
KiCad/v2/psu.bak
KiCad/v2/psu.bak
